<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
                <div class=" main_header_left align-items-center">
                    <figure class="errimg">
                        <img src="images/404.png" alt="thapa" title="thapatechnical" class="img-fluid">
                    </figure>
                    <p>Welcome to Thapa Technical World</p>
                    <h1>{{errorMsg}}</h1>
                    <a href="/"><button>Go Back</button></a>
                </div>
            </div>

        </div>
    </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            created with ❤ by thapa technical
        </p>
    </footer>
</body>

</html>