<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="container-fluid  main_content">

                    <form class="temp_form ">

                        <input type="text" id="cityName" placeholder="Enter you city name.." autocomplete="off">
                        <br>
                        <input type="submit" value="search" id="submitBtn">
                        <p id="temp_err"></p>
                    </form>

                    <div class="tempInformation  ">
                        <div class="top_layer">
                            <p id="day">Tuesday</p>
                            <p id="today_date">13 oct</p>
                        </div>
                        <div class="main_layer ">
                            <p id="city_name">Get output here </p>
                            <div class="middle_layer data_hide">
                                <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                                <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            created with â¤ by thapa technical
        </p>
    </footer>

    <script src="js/main.js"></script>
</body>

</html>